html{
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    margin:0;
}

span {
    font-style: italic;
}

#topspace{
    float: left; 
    width: 1px;
     height: 50%;
	 margin-bottom: -150px;
}
#structbuttons{
position: absolute;
height: 300px;
top: 50%;
left: 50%;
margin-left: -405px;
margin-top: -150px;
}


.structbutton {
    float: left;
    opacity: 0.5;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 5px solid #000000;
    padding: 5px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 250px;
    margin-left: 5px;
    margin-right: 5px;
}

.graph{
    background-image: url("graph.png");
}

.tree{
    background-image: url("tree.png");
}

.list{
    background-image: url("list.png");
}

.structbutton:hover{opacity: 1.0;}

.circlebutton{
    border-radius: 50%;
    position: absolute;  
    top: 80%;
    left: 90%;
    border: 5px solid #000000;
    width: 100px;
    height : 100px;
    opacity: 0.5;
    background-image: url("openfile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
}

.circlebutton_t{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("openfile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.circlebutton_t:hover{opacity: 1.0}

.circlebutton:hover{opacity: 1.0;}

#fileLoader{
    display: none;
}

.toolbox {
position: absolute;
padding:10px;
background:#ffffff;
border: 2.5px solid #000000;
top: 50%;
margin-top: -250px;

}

#site_drawing{
    width: 100%;
    height: 100%;
}

.canvas{
    float:right;
}


.node{
    position:absolute;
     border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("openfile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
    right: 50%;
}

.node_tree{
     position:absolute;
     border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
    right: 50%;
    top: 30%;
}
.node_list {

}

.node_graph {
    position:absolute;
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
    right: 50%;
    top: 30%;
}

.cbtn_add{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("addnode.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.cbtn_del{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("deletenode.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.cbtn_con{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("connector.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.cbtn_opn{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("openfile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.cbtn_edt{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("edit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.cbtn_lbl{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("label.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.cbtn_sav{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("savefile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}

.cbtn_new{
    border-radius: 50%;
    border: 2.5px solid #000000;
    width: 50px;
    height : 50px;
    opacity: 0.5;
    background-image: url("newpage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 5px;
}



