html{
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    margin:0;
}

span {
    font-style: italic;
}

#topspace{
    float: left; 
    width: 1px;
     height: 50%;
	 margin-bottom: -150px;
}
#structbuttons{
position: absolute;
height: 300px;
top: 50%;
left: 50%;
margin-left: -405px;
margin-top: -150px;
}

.structbutton {
    float: left;
    opacity: 0.5;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 5px solid #000000;
    padding: 5px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 250px;
    margin-left: 5px;
    margin-right: 5px;
}


